.foot {
  width: 100%;
  height: 300px;
  position: relative;
  background: linear-gradient(left bottom, #256475, #258080 55%, #6db8b1);
  background: -webkit-linear-gradient(45deg, #256475, #258080 55%, #6db8b1);
  background: -o-linear-gradient(45deg, #256475, #258080 55%, #6db8b1);
  background: -moz-linear-gradient(45deg, #256475, #258080 55%, #6db8b1);
}
.foot-rect {
  width: 100%;
  height: 260px;
  position: relative;
}
.smallbox {
  width: 75px;
  height: 122px;
  position: absolute;
  top: 30%;
  left: 20%;
  overflow: hidden;
}
.bigbox {
  width: 130px;
  height: 182px;
  position: absolute;
  top: 20%;
  left: 26%;
  overflow: hidden;
}
.small-rect {
  border: 3px solid #fff;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 19px;
  left: 22px;
  -webkit-transform: rotatez(45deg);
  -moz-transform: rotatez(45deg);
  -ms-transform: rotatez(45deg);
  -o-transform: rotatez(45deg);
  transform: rotatez(45deg);
}
.big-rect {
  border: 3px solid #fff;
  width: 120px;
  height: 120px;
  position: absolute;
  top: 30px;
  left: 42px;
  -webkit-transform: rotatez(45deg);
  -moz-transform: rotatez(45deg);
  -ms-transform: rotatez(45deg);
  -o-transform: rotatez(45deg);
  transform: rotatez(45deg);
}
.foot-phl {
  height: 260px;
  position: relative;
}
.foot-word {
  width: 100px;
  height: 70px;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 0;
}
.foot-word :first-child {
  font-size: 15px;
  line-height: 20px;
  opacity: 1;
}
.foot-word :nth-child(2) {
  font-size: 25px;
  line-height: 30px;
  opacity: 0.8;
}
.foot-word :last-child {
  font-size: 15px;
  line-height: 20px;
  opacity: 0.5;
}
.foot-phone {
  color: #fff;
  width: 80%;
  height: 50px;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 60%;
}
.foot-phone :first-child {
  margin-right: 30px;
}
.foot-phone p {
  float: left;
  height: 50px;
  font-size: 26px;
  line-height: 30px;
}
.foot-copy {
  width: 70%;
  position: absolute;
  bottom: 0px;
  left: 15%;
}
.foot-copy-word {
  height: 40px;
  font-size: 20px;
  font-weight: 100;
  line-height: 40px;
  text-align: center;
}
@media screen and (min-width: 660px) {
  .foot-word {
    width: 100px;
    height: 70px;
    color: #fff;
    position: absolute;
    top: 40%;
    left: -50%;
  }
  .foot-word :first-child {
    font-size: 15px;
    line-height: 20px;
    opacity: 1;
  }
  .foot-word :nth-child(2) {
    font-size: 25px;
    line-height: 30px;
    opacity: 0.8;
  }
  .foot-word :last-child {
    font-size: 15px;
    line-height: 20px;
    opacity: 0.5;
  }
  .foot-phone {
    color: #fff;
    width: 80%;
    height: 100px;
    position: absolute;
    top: 40%;
    left: 0;
  }
  .foot-phone :first-child {
    margin-right: 30px;
  }
  .foot-phone p {
    float: left;
    height: 50px;
    font-size: 26px;
    line-height: 30px;
  }
  .foot-copy-word {
    height: 40px;
    font-size: 20px;
    font-weight: 100;
    line-height: 40px;
    text-align: center;
  }
}
@media screen and (min-width: 1000px) {
  .foot-word {
    width: 100px;
    height: 70px;
    color: #fff;
    position: absolute;
    top: 40%;
    left: -50%;
  }
  .foot-word :first-child {
    font-size: 15px;
    line-height: 20px;
    opacity: 1;
  }
  .foot-word :nth-child(2) {
    font-size: 25px;
    line-height: 30px;
    opacity: 0.8;
  }
  .foot-word :last-child {
    font-size: 15px;
    line-height: 20px;
    opacity: 0.5;
  }
  .foot-phone {
    color: #fff;
    width: 120%;
    height: 50px;
    position: absolute;
    top: 55%;
    left: -20%;
  }
  .foot-phone :first-child {
    margin-right: 30px;
  }
  .foot-phone p {
    float: left;
    height: 50px;
    font-size: 26px;
    line-height: 30px;
  }
  .foot-copy-word {
    height: 40px;
    font-size: 20px;
    font-weight: 100;
    line-height: 40px;
    text-align: center;
  }
}
