* {
  margin: 0;
  padding: 0;
  font-family: "黑体", "宋体";
  font-size: 18px;
  color: #fff;
}
a {
  display: block;
  text-decoration: none;
}
li,
ul {
  list-style: none;
}
.row .nbsp[class*=col]:first-of-type,
.row .nbsp[class*=col]:last-of-type {
  height: 300px;
}
