.web .upwork {
    width:80%;
    height:150px;
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
    font-size:18px;
    color: #000;
    text-align: center;
    line-height:30px;
    text-indent: 2em;
    text-align: left;
}
.bg1{
    background-image:url(../images/tianmao.png);
    background-size: cover;
}
.bg2{
    background-image:url(../images/suning.png);background-size: cover;
}
.bg3{
    background-image:url(../images/apple.png);background-size: cover;
}
.bg4{
    background-image:url(../images/zhengzhan.png);background-size: cover;
}
.bg5{
    background-image:url(../images/dazi.png);background-size: cover;
}
.bg6{
    background-image:url(../images/ameng.png);background-size: cover;
}
.bg7{
    background-image:url(../images/zhong.png);background-size: cover;
}
.bg8{
    background-image:url(../images/dazi.png);background-size: cover;
}
.work-con{
    width: 0;height: 100%;
    background:rgba(100,150,150,0.4);
    position: absolute;
    top: 0;left:0;
    overflow: hidden;
}
.web .erweima{
    position: absolute;
    width:100%;height:0;
    top:0;left:0;z-index: 5;
    background: rgba(0,0,0,0.5);overflow: hidden;
}
.erweima img{
    width: 70%;
    position: absolute;
    left: 0;right: 0;top: 0;bottom:0;
    margin: auto auto;
}
@keyframes scale{
    0%{background: 100% 100% center center;}
    100%{background: 120% 120% center center;}
}
@keyframes scale2{
    0%{background: 120% 120% center center;}
    100%{background: 100% 100% center center;}
}
.web .downwork{
    width:80%;
    height:50px;
    font-size:30px;
    text-align: center;
    margin: 0 auto;
    line-height:50px;
    position: relative;
    margin-bottom: 10px;background: #256475;
}

